$head: 'Lora',
serif;
$txt: 'PT Serif',
serif;
$desc: 'Karla',
sans-serif;
$cursive: 'Caveat',
cursive;
$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;
$yel: #f4e8b8;
$midyel: #DAC77B;
$darkyel: #CEB65A;
h2 {
    font-family: $head;
    line-height: 1.2em;
}

h6,
a {
    font-family: $txt;
}

.container {
    padding: 2%;
}

img {
    margin-bottom: 8%;
}

li,
h5 {
    font-family: $desc;
    padding-bottom: 0.5em;
}

li.ingrd {
    font-family: $desc;
}


/* BUTTONS */

.btn-primary,
.btn-options {
    letter-spacing: 1px;
    font-family: $desc;
    background-color: $midyel;
    border: none;
    color: white;
    margin: 0.5em;
    display: inline-block;
}

.btn-primary:hover,
.btn-options:hover {
    background-color: $darkyel;
}

.btn-warning {
    letter-spacing: 2px;
    font-family: $desc;
    background-color: $midgr;
    border: none;
    margin: auto;
    text-transform: uppercase;
    font-size: 1.2em;
}

.btn-warning:hover {
    background-color: $darkgr;
}

.cursive-link {
    font-family: $cursive;
    font-size: 1.7em;
    color: $heart;
}

.recipetitle {
    background: rgba(168, 192, 149, 0.6);
    padding: 5%;
    box-shadow: 0 0 20px $gr;
}

.recipedesc {
    font-family: $desc;
    text-transform: uppercase;
}

.recipeIngredients {
    border-left: thin solid #000;
    border-right: thin solid #000;
    padding-left: 12%;
    margin-right: 5%;
    padding-bottom: 1%;
}

.verticalLine {
    border-left: thin solid #000;
    border-right: thin solid #000;
    padding-left: 12%;
    font-family: $txt;
}