<div *ngIf="recipeInfo" class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="{{recipeInfo.image}}">
            <br>
            <div class="recipeIngredients">
                <ul *ngIf="ingredients">
                    <h5>Ingredients:</h5>
                    <li *ngFor="let foodthing of ingredients" class="ingrd">
                        <!-- {{foodthing.originalString}} -->
                        <b>{{foodthing.amount | rounding}} {{foodthing.unit}}</b> {{foodthing.name}}
                    </li>
                </ul>

                <button class="btn btn-primary btn-convert" (click)="convert()">Convert to grams and litres</button>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="recipetitle">
                <h2>{{recipeInfo.title}}</h2>
                <hr>
                <div class="recipedesc">
                    <b>Preparing time:</b> {{recipeInfo.readyInMinutes}} minutes</div>
            </div>
            <br>

            <ol *ngIf="instructions">
                <h5>Instructions:</h5>
                <li *ngFor="let phase of instructions">{{phase.step}}</li>
                <br>

                <p><a class="cursive-link" href="{{recipeInfo.sourceUrl}}">Original recipe: {{recipeInfo.sourceName}}</a></p>
            </ol>

        </div>
    </div>
    <div class="fb-like" [attr.data-href]="url" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
</div>

<div class="container">

    <app-cards-container (navigateTo)="navigate($event)" (update)="saveUpdate($event)" [recipes]="similarRecipes" [imageurl]="imageurl" [title]="recipesTitle"></app-cards-container>
</div>

<div class="container">
    <app-commentbox [recipeURL]="activeId"></app-commentbox>
</div>