<div *ngIf="recipeInfo" class="container">
  <div class="row">
    <div class="col">
      <img src="http://i.imgur.com/uG0XRBH.jpg">
      <br>
      <div class="recipeIngredients">
      <ul *ngIf="ingredients">
      <h5>Ingredients:</h5>
          <li *ngFor="let foodthing of ingredients">
           <!-- {{foodthing.originalString}} -->
            <b>{{foodthing.amount}} {{foodthing.unit}}</b> {{foodthing.name}}
            </li>
        </ul>
        </div>
    </div>

    <div class="col">
      <div class="recipetitle">
      <h2>{{recipeInfo.title}}</h2>
      <hr>
      <div class="recipedesc">
      <b>Preparing time:</b> {{recipeInfo.readyInMinutes}} minutes</div>
      </div>
      <br>

    <ol *ngIf="instructions">
       <h5>Instructions:</h5>
      <li *ngFor="let phase of instructions">{{phase.step}}</li>
      <br>

    <p><a href="{{recipeInfo.sourceUrl}}">Original recipe: {{recipeInfo.sourceName}}</a></p>
    </ol>

    </div>
  </div>
 </div>

<br>

<div class="container">

<div class="row">

  <div class="col-9">
    <app-commentbox></app-commentbox>
  </div>
  <div class="col-3">
    <h4>Similar recipes:</h4>
    <app-cards-container [recipes]="similarRecipes" [horizontal]="false"></app-cards-container>
  </div>
</div>

</div>