<div class="container">

    <nav class="navbar navbar-toggleable-sm navbar-light">
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mr-auto nav">
                <li class="nav-item">
                    <a class="navbar-brand">
                        <img src="https://trello-attachments.s3.amazonaws.com/588727fd73d9c03b796b7e16/306x282/1c03784ed78a3c26c554d8d85430b643/logo.png" class="d-inline-block align-top" alt="">
                    </a>      
                </li>
                <li class="nav-item verticalLine hidden-sm-down">
                </li>
                <li class="nav-item navitem myhome">
                    <a [routerLink]="['/']" class="nav-link"><i class="fa fa-home nav-icon" aria-hidden="true"></i><span class="nav-hide"><b>Home</b></span></a>
                </li>
                <li class="nav-item verticalLine hidden-sm-down">
                </li>
                <li class="nav-item navitem mysearch">
                    <a [routerLink]="['/search']" class="nav-link"><i class="fa fa-search hidden-md-up nav-icon" aria-hidden="true"></i><span class="nav-hide">Recipe search</span></a>
                </li>
                <li class="nav-item verticalLine hidden-sm-down">
                </li>
                <li class="nav-item navitem myrecipes">
                    <a [routerLink]="['/favourites']" class="nav-link"><span class="nav-hide">My recipes</span><i class="fa fa-heart nav-icon hidden-md-up showheart" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>