/* COLOURS */
$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;

/* FONTS */
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;

nav {
    background-color: #fff;
}

.navbar-brand {
    img {
        width:60px;
        height:60px;
        margin-left: -0.8em;
    }
}

.nav-item {
    font-family: $desc;
    text-transform: uppercase;
    padding-bottom: 1%;
    font-size: 1.4em;
}

.nav-item:hover {
    background-color: rgba(168, 192, 149, 0.6);
}