<div class="container">

        <div class="row">
            <div class="col">
                <h4>Recommendations</h4></div>
        </div>


        <div class="row">
  

               <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="http://i.imgur.com/pNzQmVy.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Contains fish</i></p>
                            </div>
                            <div class="col-2">
                                <p class="card-text">60min</p>
                            </div>
                        </div>
                    </div>
                </div>

             
            </div>

           <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="http://i.imgur.com/pNzQmVy.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 2</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Vegan</i></p>
                            </div>
                            <div class="col-2">
                                <p class="card-text">120min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="http://i.imgur.com/pNzQmVy.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 3</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Contains dairy</i></p>
                            </div>
                            <div class="col-2">
                                <p class="card-text">75min</p>
                            </div>
                        </div>
                    </div>
                </div>
         </div>

         <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="http://i.imgur.com/pNzQmVy.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Contains chicken</i></p>
                            </div>
                            <div class="col-2">
                                <p class="card-text">35min</p>
                            </div>
                        </div>
                    
                </div>
            </div>
         </div>


        </div>

</div>