$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;

.container {
    padding: 2%;
}

.card {
    margin: 3%;
    display: inline-block;
}

h4, p.card-text {
    font-family: $desc;
    text-transform: uppercase;
}

p.card-text {
    font-size: 12px;
}

p.card-desc {
    font-size: 14px;
    font-family: $txt;
}

p.card-title {
    font-size: 18px;
    font-family: $head;
}

.card-img-top {
    width: 100%;
    height: auto;
}
