/* COLOURS */
$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;

/* FONTS */
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;

.container {
    padding: 2%;
}

.search {
    display: block;
    margin: auto;
    width: 95%;
}

.advancedOptions {
    display: block;
    padding-left: 7%;
}

.btn-options {
    margin: auto;
}
