<div class="container">
<div class="container">

  <h4><i class="fa fa-search" aria-hidden="true"></i> <b>Advanced search:</b></h4>


  <form class="search" #f="ngForm" (ngSubmit)="search()">

<div class="form-group row justify-content-center">
  <label class="col-sm-4 col-form-label">Recipe name or ingredient(s)</label>
   <div class="col-sm-8">
  <input size="30" height="100" class="isearch" name="searchQuery.query" [(ngModel)]="searchQuery.query" minlength="3" placeholder="i.e. chicken, bacon...">
   </div>
</div>

<div class="form-group row justify-content-center">
  <label class="col-sm-4 col-form-label">Exclude ingredients</label><br>
   <div class="col-sm-8">
    <input size="30" height="100" class="isearch" name="searchQuery.excludeIngredients" [(ngModel)]="searchQuery.excludeIngredients" minlength="3" placeholder="i.e. tomato"><br>
   </div>
</div>

 
 <div class="form-group row justify-content-center">
      <div class="col-sm-3">

       Diet
         <div class="form-check" *ngFor="let diettype of dietArray">
          <label>
            <input class="form-check-input" type="radio" 
            value="{{diettype}}" [(ngModel)]="searchQuery.diet" name="searchQuery.diet">
                  {{diettype}}
          </label>
        </div>
      </div> 

      <div class="col-sm-3">

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#allergensModal">
  Allergens
</button><br>

  <div *ngFor="let intolerance of intolerancesArray">
    <span *ngIf="intolerance.checked">{{intolerance.value}} <br></span>
  </div>


<div class="modal" id="allergensModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="" *ngFor="let option of intolerancesArray">
          <label>
            <input class="" type="checkbox"
                  name="option"
                   value="{{option.value}}"
                   [(ngModel)]="option.checked"/>
                  {{option.value}} {{option.checked}}
          </label>
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

      <div class="col-sm-3">

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#typesModal">
  Type
</button><br>
{{chosenType}}

<div class="modal" id="typesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="" *ngFor="let foodtype of typesArray">
          <label>
            <input class="" type="radio" 
            value="{{foodtype}}" [(ngModel)]="searchQuery.type" name="searchQuery.type">
                  {{foodtype}}
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="checkTypes()">Close</button>
      </div>
    </div>
  </div>
</div>

       
      </div>
    </div>
  
  <div class="row justify-content-center">
    <div class="col-3">
      <button type="submit" class="btn btn-warning btn-primary">Submit</button>
    </div>
  </div>

  </form>

</div>




</div>
