<div class="container" style="background-color: #fff; padding: 2%;">
        <div class="row">
            <div class="col head">
                <h4>My recipes</h4>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-3 recipecard">
                <div class="card" style="width: 13rem;">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="img/resepti4.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Contains beef</i></p>
                            </div>
                            <div class="col">
                                <p class="card-text">20min</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-3 recipecard">
                <div class="card" style="width: 13rem;">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="img/resepti8.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 2</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Contains nuts</i></p>
                            </div>
                            <div class="col">
                                <p class="card-text">45min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 recipecard">
                <div class="card" style="width: 13rem;">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="img/resepti6.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 3</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Vegan</i></p>
                            </div>
                            <div class="col">
                                <p class="card-text">90min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3 recipecard">
                <div class="card" style="width: 13rem;">
                    <a href="recipe.html"><img class="card-img-top img-fluid" src="img/resepti7.jpg" alt="Card image cap"></a>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 4</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><i>Contains eggs</i></p>
                            </div>
                            <div class="col">
                                <p class="card-text">25min</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>