<div class="container" *ngIf="ownRecipes">

    <h4>{{title}}</h4>

    <app-cards-container (update)="saveUpdate($event)" [recipes]="ownRecipes" [imageurl]="imageurl" *ngIf="ownRecipes"></app-cards-container>

    <button class="btn btn-warning" (click)="emptyFavourites()" *ngIf="showButton">Clear favourites</button>

</div>

<div *ngIf="!ownRecipes">
    <div class="container norecipes">
        <h3>Nothing found.</h3><br>
        <h4>Favourite a recipe by clicking the heart icon, or the link "add to favourites" next to a recipe.</h4><br>
        <p><img src="http://25.media.tumblr.com/9ea0453dbbb399af2ef67fd2ea6a8c6e/tumblr_mubwjr6kWh1rd0rbzo1_500.gif"></p>
    </div>
</div>
<br>