/* COLOURS */

$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;

/* FONTS */

$head: 'Lora',
serif;
$txt: 'PT Serif',
serif;
$desc: 'Karla',
sans-serif;
$head: 'Lora',
serif;
$txt: 'PT Serif',
serif;
$desc: 'Karla',
sans-serif;
$cursive: 'Caveat',
cursive;
h4,
p.card-text {
    font-family: $desc;
    text-transform: uppercase;
}

.norecipes {
    text-align: center;
    h4 {
        font-family: $desc;
        text-transform: none;
        font-size: 1em;
    }
    h3 {
        font-family: $cursive;
    }
}

.btn {
    margin: auto;
    display: block;
    letter-spacing: 1px;
    font-family: $desc;
    background-color: $midgr;
    border: none;
}

.container {
    padding: 2%;
}