<div class="container" *ngIf="ownRecipes">

    <h4>{{title}}</h4>

    <app-cards-container (update)="saveUpdate($event)" [recipes]="ownRecipes" [imageurl]="imageurl" *ngIf="ownRecipes"></app-cards-container>

    <button class="btn btn-warning" (click)="emptyFavourites()" *ngIf="showButton">Clear favourites</button>

</div>

<div *ngIf="!ownRecipes">
    <div class="container norecipes">
        <h3>Nothing found.</h3><br>
        <h4> Favourite a recipe by clicking the heart icon or text "add to favourites".</h4>
    </div>
</div>