/* COLOURS */
$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;

/* FONTS */
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;


h4, p.card-text {
    font-family: $desc;
    text-transform: uppercase;
}

.btn {
    margin: auto;
    display: block;
    letter-spacing: 1px;
    font-family: $desc;
    background-color: $midgr;
    border: none;
}

.container {
    padding: 2%;
}

