/* COLOURS */
$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;
$yel: #f4e8b8;

/* FONTS */
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;

.isearch {
    margin-right: 5%;
    padding: 2%;
    margin-top: 2%;
    font-family: $desc;
}

textarea:focus, input:focus {
    outline: none !important;
    box-shadow: 0 0 20px $darkgr;
    border: 2px solid $gr;
}

.btn-warning {
    letter-spacing: 1px;
    font-family: $desc;
    background-color: $midgr;
    border: none;
}

.btn-warning:hover {
    background-color: $darkgr;
}

.searchbox {
    font-family: $txt;
}

h4 {
    font-family: $head;
}
