/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap';

/* FUNCTIONS */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  
}

/* COLOURS */
$bg: #eee;
$yel: #f6e290;
$gr: #eaffa4;
$heart: #d65164;

/* FONTS */
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;

/* BODY */

body {
    background-color: $bg;
    padding-top: 1%;
    background-image: url("https://static.pexels.com/photos/24859/pexels-photo-24859.jpg");
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}


.container {
    background-color: #fff;
    margin-bottom: 1%;
    @include border-radius(4px);
}

.carousel-item {
     @include border-radius(4px);
}