<app-advanced-search (searchAdvanced)="searchNew($event)"></app-advanced-search>

<app-cards-container (update)="saveUpdate($event)" [imageurl]="imageurl" [recipes]="recipes" [title]="recTitle" *ngIf="recipes.length"></app-cards-container>

<div class="show-more" *ngIf="recipes.length>=10" (click)="nextPrevious(10)">
    <button class="btn-warning">Show more...  <i class="fa fa-cutlery" aria-hidden="true"></i></button>
</div>

<div *ngIf="!recipes.length">

    <div class="container">

        <h4>No recipes found. Try something else!</h4>

    </div>

</div>