/* COLOURS */

$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;

/* FONTS */

$head: 'Lora',
serif;
$txt: 'PT Serif',
serif;
$desc: 'Karla',
sans-serif;
$head: 'Lora',
serif;
$txt: 'PT Serif',
serif;
$desc: 'Karla',
sans-serif;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

.container {
    padding: 2%;
}

.card {
    margin: 0.5%;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
}

h4,
p.card-text {
    font-family: $desc;
    text-transform: uppercase;
}

p.card-text {
    font-size: 12px;
    display: inline-block;
}

p.card-desc {
    font-size: 14px;
    font-family: $txt;
}

p.card-title {
    font-size: 18px;
    font-family: $head;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.heartContainer {
    position: absolute;
    top: 1%;
    right: 1.5%;
    z-index: 700;
    background-color: rgba(0, 0, 0, 0.24);
}

.likedHeart {
    color: $heart;
    text-shadow: 2px 2px 3px #51002a;
}

.notLikedHeart {
    color: #f2f2f2;
    text-shadow: 2px 2px 3px #000;
}

.fa-clock-o {
    display: inline-block;
}

.container-image {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: center/cover;
    height: auto;
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0 0 100% 0;
    overflow: hidden;
    position: relative;
    img {
        position: absolute;
        width: auto;
        min-width: 100%;
        min-height: 100%;
    }
}

@media screen and (max-width: 560px) {
    .card {
        min-width: 90%;
    }
    .card-group {
        min-width: 90%;
        text-align: center;
    }
}