<div class="container">

    <div *ngIf="recipes">

        <h4>{{title}}</h4>
        <br>

        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 recipecard" *ngFor="let recipe of recipes">
                <div class="card-group">
                    <div class="card">
                        <a class="btn btn-default heartContainer">

                            <!-- check if the recipe has been added to favourites and display corresponding heart icon -->
                            <i class="fa fa-heart fa-lg likedHeart" aria-hidden="true" *ngIf="recipe.isliked" (click)="removeFromFavourites(recipe)"></i>
                            <i class="fa fa-heart fa-lg notLikedHeart" aria-hidden="true" *ngIf="!recipe.isliked" (click)="saveToFavourites(recipe)"></i></a>
                        <a [routerLink]="['/recipe', recipe.id]" (click)="navigate(recipe.id)">
                            <div class="row container-image">
                                <img class="img-fluid" src="{{imageurl}}{{recipe.image}}">
                            </div>
                            <div class="card-block">
                                <p class="card-title">{{recipe.title}}</p>
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p class="card-text align-middle"><b> {{recipe.readyInMinutes}} min </b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>