/* COLOURS */
$bg: #eee;
$darkgr: #65874B;
$midgr: #84A16E;
$gr: #A8C095;
$heart: #d65164;

/* FONTS */
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;
$head: 'Lora', serif;
$txt: 'PT Serif', serif;
$desc: 'Karla', sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  
}

.container {
    padding: 2%;
}

.card {
    margin: 3%;
    display: inline-block;
    min-width: 200px;
}

a {
    text-decoration: none;
    color: #000;
}


h4, p.card-text {
    font-family: $desc;
    text-transform: uppercase;
}

p.card-text {
    font-size: 12px;
    display: inline-block;
}

p.card-desc {
    font-size: 14px;
    font-family: $txt;
}

p.card-title {
    font-size: 18px;
    font-family: $head;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.heartContainer {
    position: absolute;
    top: 1%;
    right: 1.5%;
    z-index: 700;
    background-color: rgba(255,255,255,0.65);

}

.likedHeart {
      color: $heart;

}

.notLikedHeart {
    color: #A9A8A8;
}

.fa-clock-o {
    display: inline-block;
}
