<div class="container">


  <div *ngIf="recipes">

      <h4>{{title}}</h4>

      <div class="row" *ngIf="horizontal">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 recipecard" *ngFor="let recipe of recipes">
          <div class="card">
            <a class="btn btn-default heartContainer" (click)="saveToFavourites(recipe)"><i class="fa fa-heart fa-lg" aria-hidden="true"></i></a>
            <a [routerLink]="['/recipe', recipe.id]"><img class="card-img-top img-fluid" src="http://i.imgur.com/uG0XRBH.jpg" alt="Card image cap">
            <div class="card-block">
                      <!-- <img src="{{imageurl}}{{recipe.image}}"><br> -->
                        <div class="row">
                            <div class="col">
                                <p class="card-title">{{recipe.title}}</p>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col text-right">
                                 <i class="fa fa-clock-o" aria-hidden="true"></i> <p class="card-text align-middle">{{recipe.readyInMinutes}} min</p>
                            </div>
                        </div>  
             </div>
            </a>
          </div>
      </div>
      </div>
   
<div class="row" *ngIf="!horizontal">

        <div class="col" *ngFor="let recipe of recipes">
          <div class="card">
            <a class="btn btn-default heartContainer" (click)="saveToFavourites(recipe)"> <i class="fa fa-heart fa-lg" aria-hidden="true"></i></a>
            <a [routerLink]="['/recipe', recipe.id]"><img class="card-img-top img-fluid" src="http://i.imgur.com/uG0XRBH.jpg" alt="Card image cap">
            <div class="card-block">
                      <!-- <img src="{{imageurl}}{{recipe.image}}"><br> -->
                        <div class="row">
                            <div class="col">
                                <p class="card-title">{{recipe.title}}</p>
                            
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col text-right">
                                <i class="fa fa-clock-o" aria-hidden="true"></i><p class="card-text align-middle">{{recipe.readyInMinutes}} min</p>
                            </div>
                        </div>  
             </div>
            </a>
          </div>
      </div>
  </div>


    </div>

</div>