<div class="container" style="background-color: #fff; padding: 2%;">
        <div class="row">
            <div class="col">
                <h4>Comments</h4>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="comment">qqqqqqq
                            <br>Tekstiä jee
                            <br> Lalalalalalalal
                            <div class="date">30.1.2017
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="comment">qqqqqqq
                            <br>Tekstiä jee
                            <br> Lalalalalalalal
                            <div class="date">30.1.2017
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="comment">Tosipitkä kommenttiteksti jee jee asdsdadsadsaadsads qw qwe ewq q wq ewq wqe wqe ewq ewq ewq qew eq ewq
                            <br>Tekstiä jee
                            <br> Lalalalalalalal
                            <div class="date">30.1.2017
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col">
                        <h4>Write a comment</h4></div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" id="commentarea" rows="5"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </div>


            </div>
            <div class="col-3">
                <div class="text-center">
                    <h4>Similar recipes</h4></div>
                <br>

                <div class="col">
                    <div class="card" style="width: 13rem;">
                        <a href="recipe.html"><img class="card-img-top img-fluid" src="http://i.imgur.com/pNzQmVy.jpg" alt="Card image cap"></a>
                        <div class="card-block">
                            <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><b>Contains fish</b></p>
                            </div>
                            <div class="col-2 text-right">
                                <p class="card-text">60min</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="col">
                    <div class="card" style="width: 13rem;">
                        <a href="recipe.html"><img class="card-img-top img-fluid" src="http://i.imgur.com/pNzQmVy.jpg" alt="Card image cap"></a>
                        <div class="card-block">
                            <div class="row">
                            <div class="col-7">
                                <p class="card-title">Recipe 1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="card-desc" id="text">Description</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text"><b>Contains fish</b></p>
                            </div>
                            <div class="col-2 text-right">
                                <p class="card-text">60min</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>